//colors-----------------------//
$white:rgb(255,255,255);
$red: rgb(255, 0, 0);
$darkred: rgb(155, 0, 0);
$lightgrey: rgb(200, 200, 200);
$grey: rgb(100,100,100);
$darkgrey: rgb(50,50,50);
$black: rgb(0,0,0);
$yellow: rgb(245,211,52);

// font-------------------------//
@import url('https://fonts.googleapis.com/css?family=Coda');

//global-----------------------//
*{
    font-family: 'Coda', cursive;
    h1{
        font-size: 30px;
        margin-top: 25px;
    }
    h2{
        font-size: 24px;
    }
    p{
        line-height: 160%;
        color: $grey;
        &:last-of-type{
            margin-bottom: 50px;
        }
    }
    a{
        &:active{
            text-decoration: none;
        }   
        &:hover{
            text-decoration: none;
        }
        &.btn{
            border-radius: 0;
            border: none;
            background-color: $red;
            transition: background-color 0.5s;
            &:hover{
                background-color: $darkred;
            }
            &:active{
                background-color: $darkgrey!important;
                box-shadow: none!important;
            }
            &:focus{
                box-shadow: none!important;
            }
        }
    }
    .bold{
        font-weight: 900;
        color: rgba(0,0,0,1);
    }
}
//-----------------------------//


//index.html-------------------//
.gallery{
    height: 100%;
    .gallery-list{
        list-style: none;
        margin: 50px 0;
        padding: 0;
        width: 100%;
        li{
            display:none;
            justify-content: center;
            width: 100%;
            &:last-of-type{
                display:flex;
            }
            .image{
                max-width: 100vh!important;
                max-height: 80vh;
                align-self: center;
                display: block;
                margin: 0 auto 0 auto;
            }
        }
    }
}
.gallery-thumb{
    max-height: 80vh;
    overflow: auto;
    margin: 50px 0;
    padding: 50px;
    &::-webkit-scrollbar{ 
        width: 0 !important;//hide scrollbar 
    }
    .gallery-thumb-list{
        list-style: none;
        padding: 0;
        li{
            opacity: 0.4;
            margin: 25px 0;
            &:last-of-type{
                margin-top:0;
            }
            &:first-of-type{
                margin-bottom: 0;
            }
            &:hover{
                opacity: 1;
            }
            transition: opacity 0.5s;
        }
        .image-thumb{
            width: 100%;
        } 
        .mage-active{
            opacity: 1;
        }
    }
}
//-----------------------------//


//red-accent.html-------------------//
.parallax-bg {
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 20px;
  }
  
  .jumbotron {
    height: 35vh;
    width: 100%;
    background:transparent;
    margin: 0;
    padding: 0;
    position: relative;
    border: solid red 2px;
}


  //original
  /*.parallax-bg {
    width: 100%;
    height: 40vh;
    z-index: -1;
  }
  
  .jumbotron {
    height: 35vh;
    width: 100%;
    background:transparent;
    margin: 0;
    padding: 0;
  }*/
  

//-----------------------------//

//contact.html-------------------//
.fa{
    width: 25px;
    text-align: center;
}
#facebook_contact,
#instagram_contact,
#youtube_contact{
    color: $black;
    &:hover{
        color: $lightgrey;
    }
}
form.contact{
    #gotcha{
        visibility: hidden;
    }
}
//-----------------------------//



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    //index.html-------------------//
    .front-banner{
        .card{
            h2{
                top: 20px;
                font-size: 40px;
            }
        }
    }
    //-----------------------------//
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    //index.html-------------------//
    .front-banner{
        margin-bottom: 50px;
        .card{
            h2{
                top: 20px;
                font-size: 60px;
            }
        }
    }
    //-----------------------------//
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    //ons-product.html-------------------//
    .btn-bestel{
        max-width: 250px;
    }
    //-----------------------------//

    .prijs{
        text-align: right;
    }
    form.gegevens{
        margin-top: 0px;
    }
    .betaalkeuze{
        margin-top: 0px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}