// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
.navbar {
    background-color: $white!important;
    text-transform: uppercase;
    padding: 0;
    color: $black;
    img.navbar-brand{
        width: 200px;
        padding: 0.5rem 1rem;
    }
    a.nav-link{
        height: 50px;
        line-height: 35px;
        padding: 0.5rem 3rem;
    }
    li{
        &:hover{
            border-bottom: 5px solid $lightgrey;
        }
        &:active{
            border-bottom: 5px solid $grey;
        }
        &.active{
            border-bottom: 5px solid $yellow;
        }
        &.active:nth-child(2){
            border-bottom: 5px solid $red;
        }
        transition: border-bottom 0.25s;
    }
    .social-media{
        line-height: 50px;
        margin-left: 10px;
        a{
            &:active{
                text-decoration: none;
            }   
            &:hover{
                text-decoration: none;
            }
            i{
                color: $black;
                padding: 0.5rem 0.5rem;
                &:hover{
                    color: $lightgrey;
                }
                &:active{
                    color: $grey;
                }
                transition: color 0.25s;
            }
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}